In [7]:
import os
import pandas as pd
import numpy as np

from dotenv import load_dotenv

In [8]:
load_dotenv()

True

In [9]:
df = pd.read_excel(
    os.getenv("DATASET_PATH_AUTHENTIC_AND_SIMPLIFIED"),
    sheet_name=0,
    header=[0,1]
)

In [10]:
df.head()

  PRN                             Carrier_Doppler_hz       ...  CN0       \
  ch0 ch1 ch2 ch3 ch4 ch5 ch6 ch7                ch0  ch1  ...  ch6  ch7
0   0   0   0   0   0   0   0   0                0.0  0.0  ...  0.0  0.0
1   0   0   0   0   0   0   0   0                0.0  0.0  ...  0.0  0.0
2   0   0   0   0   0   0   0   0                0.0  0.0  ...  0.0  0.0
3   0   0   0   0   0   0   0   0                0.0  0.0  ...  0.0  0.0
4   0   0   0   0   0   0   0   0                0.0  0.0  ...  0.0  0.0

  Output
     ch0 ch1 ch2 ch3 ch4 ch5 ch6 ch7
0      0   0   0   0   0   0   0   0
1      0   0   0   0   0   0   0   0
2      0   0   0   0   0   0   0   0
3      0   0   0   0   0   0   0   0
4      0   0   0   0   0   0   0   0

[5 rows x 112 columns]

In [17]:
df.columns.levels[1]

Index(['ch0', 'ch1', 'ch2', 'ch3', 'ch4', 'ch5', 'ch6', 'ch7'], dtype='object')

In [12]:
pd.DataFrame(df.columns)

                 0
0       (PRN, ch0)
1       (PRN, ch1)
2       (PRN, ch2)
3       (PRN, ch3)
4       (PRN, ch4)
..             ...
107  (Output, ch3)
108  (Output, ch4)
109  (Output, ch5)
110  (Output, ch6)
111  (Output, ch7)

[112 rows x 1 columns]